# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# 本地Docker PostgreSQL连接字符串
DATABASE_URL=

# 如果您将来使用Supabase，可以使用以下格式的连接字符串
# DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres"

# 如果您使用Supabase的项目API密钥进行身份验证，请添加以下变量
# SUPABASE_URL="https://[YOUR-PROJECT-REF].supabase.co"
# SUPABASE_ANON_KEY="[YOUR-ANON-KEY]"
# SUPABASE_SERVICE_ROLE_KEY="[YOUR-SERVICE-ROLE-KEY]"

# Clerk 配置
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=