/* https://stackoverflow.com/questions/22220698/height-100-for-div-inside-div-with-display-table-cell */
/* 用于解决 td 内的 div h-full 不起作用的问题 */
table {
  height: 1px;
}

table > td {
  height: 100%;
}

table > td > .inner {
  height: 100%;
}
